[submodule "modules/luajit"]
	path = modules/luajit
	url = https://github.com/bobsayshilol/luajit-decomp
[submodule "modules/decompiler"]
	path = modules/decompiler
	url = https://gitlab.com/znixian/luajit-decompiler
